{% extends "base.html" %}
{% block content %}
<div class="about-us-text">
    <p>
        Наша команда постоянно находиться в процессе работы, чтобы улучшить сайт. С каждым днём идей становится все больше,
        а использование сайта становится более удобным.
    </p>
</div>

<div class="contacts">
    <a href="https://twitter.com/" target="_blank" id="icon-a">
        <div id="icon">
            <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png">
        </div>
    </a>
    <a href="https://vk.com/" target="_blank" id="icon-a">
        <div id="icon">
            <img src="https://cdn-icons-png.flaticon.com/512/2111/2111712.png">
        </div>
    </a>
    <a href="https://facebook.com/" target="_blank" id="icon-a">
        <div id="icon">
            <img src="https://cdn-icons-png.flaticon.com/512/226/226234.png">
        </div>
    </a>
</div>
{% endblock %}

<!-- О нас -->