{% extends "base.html" %}
{% block content %}
<div class="container-main">
    <div class="main">
        <div class="form">
            <p align="center">Генератор идей</p>
            <select class="generator-select">
                {% for theme in themes %}
                <option value="{{ theme }}">{{ theme }}</option>
                {% endfor %}
            </select>
            <button onclick="generator_get()" class="create-idea">Создать идею</button>
        </div>
        <button class="instruction-btn"><div>Инструкция</div></button>
    </div>
</div>

<div class="instruction">
    <h4>Инструкция</h4>
    <br>
    <p>
        Все идеи на сайте могут быть интерпритированы по своему. <br> <br>
        Например: 
    </p>
    <b>Мягкая мебель</b>
    <p>Каждый человек может интерпритировать по своему:</p>
    <ul>
        <li>Пуфик</li>
        <li>Нетравмоопасная мебель</li>
        <li>Надувная мебель</li>
    </ul>
    <p>Так что всё у вас в голове!</p>
</div>
{% endblock %}

<!-- Главаня страница -->
<!-- Генератор идей -->